<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Document</title>

</head>


<body>
    

    <span class="border">
        <div class="container bgcont">
            <form method="POST" action="/chinarovcount">
                <div class = 'row'>
                    <div class  = 'col-sm' align = 'center'>
                        <h4>General data</h4>
                    </div>
                </div>
                <div class = 'row'>
                    <table align = 'center' bgcolor = #E0FFFF style ='width:350px'>
                        <tr>
                            <td>latitude</td>
                            <td><input type='FloatField' name='chlatitude' placeholder=12.3 required></td>
                        </tr>
                        <tr>
                            <td>longtitude</td>
                            <td><input type='FloatField' name='chlongtitude' placeholder=45.6 required></td>
                        </tr>  
                    </table>
                </div>
                <p></p>
                <div class = 'row'>
                        <table align = 'center' bgcolor = #E0FFFF style="font-size:9pt">
                            <tr>
                                <td>порода</td>
                                <td> <input type='TextField' name='chbreed1' style="width: 100px" placeholder='holmogorskaya' required ></td>
                                <td> <input type='TextField' name='chbreed2' style="width: 100px" placeholder='red gorbatovskaya'></td>
                                <td> <input type='TextField' name='chbreed3' style="width: 100px" placeholder='ayrshire'></td>
                            </tr>


                            <tr>
                                <td>направление</td>
                                    <td > 
                                        <select style="width: 116px" name='chtype1'>
                                        <option>Молочное</option>
                                        <option>Комбинированное</option>
                                        <option>Мясное</option>
                                        </select>
                                    </td>
                                <td> 
                                    <select style="width: 116px" name='chtype2'>
                                    <option>Молочное</option>
                                    <option>Комбинированное</option>
                                    <option>Мясное</option>
                                    </select>
                                </td>
                                <td> 
                                    <select style="width: 116px" name='chtype3'>
                                    <option>Молочное</option>
                                    <option >Комбинированное</option>
                                    <option>Мясное</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>удой (кг)</td>
                                <td><input type='FloatField' name='chudoy1' style="width: 100px" placeholder='4563'></td>
                                <td><input type='FloatField' name='chudoy2' style="width: 100px" placeholder='4563'></td>
                                <td><input type='FloatField' name='chudoy3' style="width: 100px" placeholder='4563'></td>
                            </tr>
                            <tr>
                                <td>% жира (кг)</td>
                                <td><input type='FloatField' name='chjir1' style="width: 100px" placeholder='3.86'></td>
                                <td><input type='FloatField' name='chjir2' style="width: 100px" placeholder='3.86'></td>
                                <td><input type='FloatField' name='chjir3' style="width: 100px" placeholder='3.86'></td>
                            </tr>
                            <tr>
                                <td>% белка (кг)</td>
                                <td><input type='FloatField' name='chbelok1' style="width: 100px" placeholder='3.34'></td>
                                <td><input type='FloatField' name='chbelok2' style="width: 100px" placeholder='3.34'></td>
                                <td><input type='FloatField' name='chbelok3' style="width: 100px" placeholder='3.34'></td>
                            </tr>
                            <tr>
                                <td>живая масса(кг)</td>
                                <td><input type='FloatField' name='chmassa1' style="width: 100px" placeholder='657'></td>
                                <td><input type='FloatField' name='chmassa2' style="width: 100px" placeholder='657'></td>
                                <td><input type='FloatField' name='chmassa3' style="width: 100px" placeholder='657'></td>
                            </tr>
                            <tr>
                                <td>при первом отеле (дней)</td>
                                <td><input type='FloatField' name='chperviy_otel_dney1' style="width: 100px" placeholder='871'></td>
                                <td><input type='FloatField' name='chperviy_otel_dney2' style="width: 100px" placeholder='871'></td>
                                <td><input type='FloatField' name='chperviy_otel_dney3' style="width: 100px" placeholder='871'></td>
                            </tr>
                            <tr>
                                <td>в отелах</td>
                                <td><input type='FloatField' name='chv_otelah1' style="width: 100px" placeholder='3.14'></td>
                                <td><input type='FloatField' name='chv_otelah2' style="width: 100px" placeholder='3.14'></td>
                                <td><input type='FloatField' name='chv_otelah3' style="width: 100px" placeholder='3.14'></td>
                            </tr>
                            <tr>
                                <td>выбытия коров (отелов)</td>
                                <td><input type='FloatField' name='chvibitiya_v_otelah1' style="width: 100px" placeholder='4.11'></td>
                                <td><input type='FloatField' name='chvibitiya_v_otelah2' style="width: 100px" placeholder='4.11'></td>
                                <td><input type='FloatField' name='chvibitiya_v_otelah3' style="width: 100px" placeholder='4.11'></td>
                            </tr>
                            <tr>
                                <td>сервис период</td>
                                <td><input type='FloatField' name='chservis_period1' style="width: 100px" placeholder='129'></td>
                                <td><input type='FloatField' name='chservis_period2' style="width: 100px" placeholder='129'></td>
                                <td><input type='FloatField' name='chservis_period3' style="width: 100px" placeholder='129'></td>
                            </tr>
                            <tr>
                                <td>сухостойный период</td>
                                <td><input type='FloatField' name='chsuhostoyniy_period1' style="width: 100px" placeholder='64'></td>
                                <td><input type='FloatField' name='chsuhostoyniy_period2' style="width: 100px" placeholder='64'></td>
                                <td><input type='FloatField' name='chsuhostoyniy_period3' style="width: 100px" placeholder='64'></td>
                            </tr>
                            <tr>
                                <td>выход телят на 100 голов</td>
                                <td><input type='FloatField' name='chvihod_telyat_na100_golov1' style="width: 100px" placeholder='86.8'></td>
                                <td><input type='FloatField' name='chvihod_telyat_na100_golov2' style="width: 100px" placeholder='86.8'></td>
                                <td><input type='FloatField' name='chvihod_telyat_na100_golov3' style="width: 100px" placeholder='86.8'></td>
                            </tr>
                            <tr align = 'center'><td><button type="submit">START</button></td>
                            </tr>
                        </table>
                </div>
                <p></p>
            </form>
        </div>


    </span> 


    <div class="container">
        <div class="row">
            <div class="col-sm">
                
            </div>
            <div class="col-sm">
                <h4>Результат</h4>
                {% for chcount in chcounts %}
                <div align = 'center'>{{ chcount.chraschet[0]}}</div>
                <p></p>
                {% endfor %}
            </div>
            <div class="col-sm">
                
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</body>

    

</html>